.follow-us__form {
	/* 2 Block model */
	display: flex;
	align-items: center;
}
.follow-us__form label {
	/* 2 Block model */
	margin-right: 22px;

	/* 3 Typography */
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	color: #C3C3C3;
}
.form-control {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	width: 100%;
	max-width: 220px;

	/* 4 Visual */
	border-bottom: 2px solid #C4C4C4;
}
.form-control::before {
	/* 1 Positioning */
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";

	/* 2 Block model */
	display: block;
	width: 1px;
	height:5px;

	/* 4 Visual */
	background-color: #C4C4C4;
}
.form-control::after {
	/* 1 Positioning */
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	
	/* 2 Block model */
	display: block;
	width: 1px;
	height: 5px;

	/* 4 Visual */
	background-color: #C4C4C4;
}
.follow-us__input {
	/* 2 Block model */
	padding-left: 29px;
	padding-bottom: 4px;

	/* 4 Visual */
	border: none;
	background: none;

}
.follow-us__input[placeholder] {
	/* 3 Typography */
	text-overflow:ellipsis;
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	color: #D9D9D9;
}
.follow-us__input::-webkit-input-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
}
.follow-us__input:-moz-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
  text-overflow:ellipsis;
}
.follow-us__input::-moz-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
  text-overflow:ellipsis;
}
.follow-us__input:-ms-input-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
  text-overflow:ellipsis;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */