ul.social
	include ../icon/icon.pug
	li.social__item
		a.social__link(href="#" aria-label="feccbok")
			+icon("icon--fb")

	li.social__item
		a.social__link(href="#" aria-label="twitter")
			+icon("icon--tw")

	li.social__item
		a.social__link(href="#" aria-label="vimeo")
			+icon("icon--vemo")

	li.social__item
		a.social__link(href="#" aria-label="instagram")
			+icon("icon--inst")

	li.social__item
		a.social__link(href="#" aria-label="pinterest")
			+icon("icon--pins")
