/*
 * Fonts
 *
 */

$font-main: 'Roboto', sans-serif;

/*
 * Color
 *
 */
 

$color-primary: #3bd0d6;
$color-secondary: #fd76ae;

$color-background: #f8f8f8;


/*
 * Animation Speed
 *
 */

$animation-speed: 0.4s;
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */