.input {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
}
.input label {
	/* 2 Block model */
	margin-right: 22px;
	min-width: 105px;

	/* 3 Typography */
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	color: #C3C3C3;
}
.input input {
	/* 2 Block model */
	display: block;
	width: 100%;
	box-sizing: border-box;

	/* 3 Typography */
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	color: #C3C3C3;

	/* 4 Visual */
	border: none;
	background: none;
}
.input input::-webkit-input-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
}
.input input:-moz-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
  text-overflow:ellipsis;
}
.input input::-moz-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
  text-overflow:ellipsis;
}
.input input:-ms-input-placeholder {
	/* 3 Typography */
  color: #D9D9D9;
  text-overflow:ellipsis;
}
@import '--password/--password';
@import '--exchange/--exchange';