.btn {
	/* 2 Block model */
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 73px 8px 73px;
	box-sizing: border-box;

	/* 3 Typography */
	font-family: $font-main;
	color: #ffffff;
	text-decoration: none;
	white-space: nowrap;

	/* 4 Visual */
	border: 3px solid #37d5dc;
	border-radius: 100px;
	background-color: $color-primary;
	box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.25);

	/* 5 Animation*/
	transition: all 0.6s;

	/* 6 Misc */
	user-select: none;
}
.btn:hover {
	/* 6 Sundry */
	opacity: 0.8;
	cursor: pointer;
}
.btn:focus {
	/* 6 Sundry */
	outline: 4px solid gray;
}
.btn:active {
	/* 6 Sundry */
	border-radius: 2px;
	outline: 4px solid #000000;
}
.btn__text {
	/* 3 Typography */
	font-family: $font-main;
	font-size: 24px;
	font-weight: 400;  
	line-height: 34px;
}
.icon+.btn__text {
	/* 2 Block model */
  margin-left: 10px;
}
.btn__text:not(:last-child) {
	/* 2 Block model */
	margin-right: 10px;
}
.btn .icon {
	/* 2 Block model */
	margin: 0 16px;
}
.btn .icon:only-of-type {
	/* 2 Block model */
	margin: 0;
}

.btn--secondary {
	/* 4 Visual */
	border: 3px solid #fd89b9;
	background-color: $color-secondary;
}

@import '--block/--block';
@import '--icon/--icon';
@import '--plain/--plain';