.icon {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.icon--lg {
	width: 34px;
	height: 34px;
}

.icon--logout {
	fill: transparent;
}
.icon--fb {
	width: 41px;
	height: 41px;
}
.icon--tw {
	width: 41px;
	height: 41px;
}
.icon--vemo {
	width: 41px;
	height: 41px;
}
.icon--inst {
	width: 41px;
	height: 41px;
}
.icon--pins{
	width: 41px;
	height: 41px;
}
.icon--eye {
	width: 32px;
	height: 20px;
}