.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
}
.icon--rub {
	width: 17px;
	height: 34px;
}
.icon--pencil {
	width: 24px;
	height: 24px;
}
.icon--logout {
	width: 30px;
	height: 20px;
	fill: transparent;
}
.icon--options {
	width: 28px;
	height: 29px;
}
.icon--mail {
	width: 26px;
	height: 19px;
}
.icon--fb {
	width: 41px;
	height: 41px;
}
.icon--tw {
	width: 41px;
	height: 41px;
}
.icon--vemo {
	width: 41px;
	height: 41px;
}
.icon--inst {
	width: 41px;
	height: 41px;
}
.icon--pins{
	width: 41px;
	height: 41px;
}