doctype html
html(lang="ru")
	include include/head.pug
	+head()

	body
		include ../blocks/header/header.pug

		div.container
			div.container__row
				div.container__col
					include ../blocks/info-block/info-block.pug

				div.container__col
					div.info-block
						div.info-block__header
							h2.info-block__title Last transactions

						div.info-block__body
							include ../blocks/list-transaction/list-transaction.pug
							+list-transaction([
								{
									date: '17.10. 2018', 
									title: 'transfer to crypto (Ethereum)', 
									balance: '€ 69.00',
									modifier: 'list-transaction--price-green'
								},
								{
									date: '15.10. 2018', 
									title: 'transfer to card', 
									balance: '- $ 9.00',
									modifier: 'list-transaction--price-pink'
								},
								{
									date: '10.09. 2018', 
									title: 'transfer to card', 
									balance: ' $ 20.00',
									modifier: ''
								},
								{
									date: '07.08. 2018', 
									title: 'payment', 
									balance: '- ₽ 370.00',
									modifier: 'list-transaction--price-pink'
								},
								{
									date: '15.10. 2018', 
									title: 'denied by the bank', 
									balance: '- $ 9.00',
									modifier: 'list-transaction--title-err list-transaction--price-pink'
								},
								{
									date: '10.09. 2018', 
									title: 'transfer to card', 
									balance: ' $ 20.00',
									modifier: ''
								},
								{
									date: '07.09. 2018', 
									title: 'payment', 
									balance: '- ₽ 370.00',
									modifier: 'list-transaction--price-pink'
								}
							])

				div.container__col
					div.info-block
						div.info-block__header
							h2.info-block__title Currency pairs

						div.info-block__body
							p some text

				div.container__col
					div.info-block
						div.info-block__header
							h2.info-block__title Crypto exchange

						div.info-block__body
							p some text

				div.container__col.container__col--fluid
					include ../blocks/modul-news/modul-news.pug

			div.container__row
				div.container__col.container__col--fluid
					include ../blocks/footer/footer.pug

		include include/script.pug