/*
 * Fonts
 *
 */
/*
 * Color
 *
 */
/*
 * Animation Speed
 *
 */
/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation*/
/* 6 Misc */
body {
  /* 1 Positioning */
  /* 2 Block model */
  padding: 0;
  margin: 0;
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  /* 4 Visual */
  overflow-x: hidden;
  background-color: #f8f8f8;
  /* 5 Animation*/
  /* 6 Misc */ }

.container {
  /* 2 Block model */
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container-sg {
  /* 2 Block model */
  width: 100%;
  max-width: 960px;
  padding-top: 20px;
  margin-bottom: 40px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 28px;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.icon {
  display: inline-block;
  width: 16px;
  height: 16px; }

.icon--rub {
  width: 17px;
  height: 34px; }

.icon--pencil {
  width: 24px;
  height: 24px; }

.icon--logout {
  width: 30px;
  height: 20px;
  fill: transparent; }

.icon--options {
  width: 28px;
  height: 29px; }

.icon--mail {
  width: 26px;
  height: 19px; }

.icon--fb {
  width: 41px;
  height: 41px; }

.icon--tw {
  width: 41px;
  height: 41px; }

.icon--vemo {
  width: 41px;
  height: 41px; }

.icon--inst {
  width: 41px;
  height: 41px; }

.icon--pins {
  width: 41px;
  height: 41px; }

.btn {
  /* 2 Block model */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 73px 8px 73px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  /* 4 Visual */
  border: 3px solid #37d5dc;
  border-radius: 100px;
  background-color: #3bd0d6;
  -webkit-box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.25);
  /* 5 Animation*/
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* 6 Misc */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn:hover {
  /* 6 Sundry */
  opacity: 0.8;
  cursor: pointer; }

.btn:focus {
  /* 6 Sundry */
  outline: 4px solid gray; }

.btn:active {
  /* 6 Sundry */
  border-radius: 2px;
  outline: 4px solid #000000; }

.btn__text {
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; }

.icon + .btn__text {
  /* 2 Block model */
  margin-left: 10px; }

.btn__text:not(:last-child) {
  /* 2 Block model */
  margin-right: 10px; }

.btn .icon {
  /* 2 Block model */
  margin: 0 16px; }

.btn .icon:only-of-type {
  /* 2 Block model */
  margin: 0; }

.btn--secondary {
  /* 4 Visual */
  border: 3px solid #fd89b9;
  background-color: #fd76ae; }

.btn--block {
  /* 2 Block model */
  width: 100%; }

.btn--icon {
  /* 2 Block model */
  padding: 24px 20px 18px 20px; }

.btn--icon .icon {
  fill: #ffffff;
  width: 34px;
  height: 32px; }

.btn--plain {
  /* 2 Block model */
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 4 Visual */
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.item-balance {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* 3 Typography */
  font-family: "Roboto", sans-serif; }

.item-balance__left {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 24px; }

.item-balance__left .icon {
  /* 2 Block model */
  margin-right: 16px; }

.item-balance__currency {
  /* 2 Block model */
  display: inline-block;
  /* 3 Typography */
  line-height: 34px;
  font-size: 24px;
  color: #666666;
  /* 4 Visual */
  opacity: 0.9; }

.item-balance__divider {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  height: 2px;
  /* 4 Visual */
  background-color: #C4C4C4; }

.item-balance__right {
  /* 2 Block model */
  padding-left: 24px;
  /* 3 Typography */
  line-height: 34px;
  font-size: 24px;
  color: #808080; }

.list-balance {
  /* 2 Block model */
  margin: 0;
  padding: 0;
  /* 4 Visual */
  list-style: none; }

.list-balance li {
  padding-bottom: 5px; }

.item-transaction {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* 3 Typography */
  font-family: "Roboto", sans-serif; }

.item-transaction__left {
  /* 2 Block model */
  padding-right: 24px; }

.item-transaction__date {
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  line-height: 34px;
  font-size: 24px;
  color: #000000;
  /* 4 Visual */
  opacity: 0.9; }

.item-transaction__divider {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding-left: 9.6%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.item-transaction__divider:before {
  /* 1 Positioning */
  position: absolute;
  left: 0;
  top: 50%;
  /* 2 Block model */
  margin-top: -1px;
  width: 100%;
  height: 2px;
  /* 4 Visual */
  content: "";
  background-color: #C4C4C4; }

.item-transaction__title {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: inline-block;
  padding: 0 24px;
  max-width: 150px;
  text-align: left;
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  font-size: 18px;
  color: #9A9A9A;
  /* 4 Visual */
  opacity: 0.9;
  background-color: #ffffff;
  z-index: 2; }

.item-transaction__right {
  /* 2 Block model */
  padding-left: 24px;
  /* 3 Typography */
  line-height: 34px;
  font-size: 24px;
  color: #808080; }

.item-transaction__balance {
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  line-height: 34px;
  font-size: 24px;
  /* 4 Visual */
  color: #808080; }

/* color price modifiers */
.list-transaction--price-green .item-transaction__balance {
  /* 3 Typography */
  color: #3ED63B; }

.list-transaction--price-pink .item-transaction__balance {
  /* 3 Typography */
  color: #FF8ED9; }

/* color title modifiers */
.list-transaction--title-err .item-transaction__title {
  /* 3 Typography */
  color: #FC63A3;
  text-decoration: line-through; }

.list-transaction {
  /* 2 Block model */
  margin: 0;
  padding: 0;
  /* 4 Visual */
  list-style: none; }

.list-transaction li {
  padding-bottom: 20px; }

.info-block {
  /* 2 Block model */
  width: 100%;
  padding: 0 30px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 4 Visual */
  border-radius: 8px;
  background-color: #ffffff; }

.info-block__header {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px; }

.info-block__title {
  /* 2 Block model */
  margin: 0;
  padding: 0;
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  color: #9A9A9A;
  /* 4 Visual */
  opacity: 0.9; }

.info-block__subtitle {
  /* 2 Block model */
  margin: 0;
  padding: 0;
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  color: #D3D3D3;
  /* 4 Visual */
  opacity: 0.9; }

.info-block__subtitle:not(:first-child) {
  /* 2 Block model */
  margin-top: 20px; }

.info-block__action {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 34px;
  font-size: 24px;
  color: #666666;
  /* 4 Visual */
  text-decoration: none;
  /* 5 Animation*/
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.info-block__action:hover {
  /* 4 Visual */
  opacity: 0.7; }

.info-block__action .icon {
  /* 2 Block model */
  margin-right: 7px; }

.info-block__total-balance {
  /* 3 Typography */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 56px;
  font-size: 40px;
  color: #000000; }

/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation*/
/* 6 Misc */
.header {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  height: 204px;
  /* 4 Visual */
  background-color: #ffffff; }

.header::after {
  /* 1 Positioning */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 1;
  /* 2 Block model */
  display: block;
  width: 100%;
  height: 41px;
  /* 4 Visual */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), to(rgba(167, 167, 167, 0.15)));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(167, 167, 167, 0.15) 100%); }

.header__in {
  /* 1 Positioning */
  position: relative;
  z-index: 2;
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__left {
  /* 2 Block model */
  padding-top: 28px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

.header__top {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px; }

.header__info {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 40px; }

.header__lang-select {
  /* 2 Block model */
  width: 70px;
  margin-right: 115px; }

.header__last-login {
  /* 2 Block model */
  padding-top: 2px; }

.logo img {
  /* 2 Block model */
  display: block;
  width: 256px;
  height: 70px; }

.logo--in img {
  /* 2 Block model */
  display: block;
  width: 74px;
  height: 70px; }

.lang-select {
  /* 1 Positioning */
  position: relative; }

.lang-select:before {
  /* 1 Positioning */
  position: absolute;
  top: 50%;
  left: -2px;
  content: '';
  z-index: 1;
  /* 2 Block model */
  display: block;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  /* 4 Visual */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgOSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik05IDQuNUwyLjI1IDguMzk3MTFMMi4yNSAwLjYwMjg4NUw5IDQuNVoiIGZpbGw9IiM2NjY2NjYiLz48L3N2Zz4=); }

.lang-select select {
  /* 1 Positioning */
  position: relative;
  z-index: 2;
  /* 2 Block model */
  display: block;
  width: 100%;
  padding-left: 7px;
  /* 3 Typography */
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
  /* 4 Visual */
  border: none;
  background: none;
  /* 6 Misc */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.lang-select select:focus {
  /* 4 Visual */
  outline: 2px solid #3BD0D6; }

.lang-select select:active {
  /* 4 Visual */
  outline: 3px solid #3BD0D6; }

.last-login {
  /* 3 Typography */
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #A4A4A4; }

.menu__list {
  /* 1 Positioning */
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  /* 4 Visual */
  list-style: none; }

.menu__item {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  margin-right: 42px; }

.menu__item:last-child {
  /* 2 Block model */
  margin-right: 0; }

.menu__link {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: block;
  /* 3 Typography */
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
  /* 4 Visual */
  text-decoration: none; }

.menu__link:hover {
  /* 4 Visual */
  opacity: 0.7; }

.menu__item--active::before {
  /* 1 Positioning */
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
  content: "";
  /* 2 Block model */
  display: block;
  height: 4px;
  /* 4 Visual */
  background-color: #3bd0d6; }

.user {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.user__info {
  /* 2 Block model */
  padding-top: 26px;
  margin-right: 20px; }

.user__info-top {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 215px;
  margin-bottom: 17px; }

.user__verified {
  /* 2 Block model */
  padding-right: 10px;
  /* 3 Typography */
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6); }

.user__divider {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  height: 2px;
  min-width: 10px;
  /* 4 Visual */
  background-color: #C4C4C4; }

.user__name {
  /* 2 Block model */
  padding-left: 12px;
  /* 3 Typography */
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6); }

.user__list {
  /* 2 Block model */
  margin: 0;
  padding: 0;
  /* 4 Visual */
  list-style: none; }

.user__item {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-bottom: 12px; }

.user__item .btn__text {
  /* 3 Typography */
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6); }

.user__item .btn__text:not(:last-child) {
  /* 2 Block model */
  margin-right: 22px; }

/* .user__item--active::before {
	1 Positioning
	position: absolute;
	top: 3px;
  left: -10px;
	content: "";

	2 Block model
	display: block;
	width: 16px;
	height: 16px;

	4 Visual
	border-radius: 50%;
	background-color: $color-primary;
} */
.user__img {
  /* 2 Block model */
  width: 150px; }

.user__img img {
  /* 2 Block model */
  display: block;
  width: 100%; }

/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation*/
/* 6 Misc */
.modul-news .info-block {
  /* 2 Block model */
  padding-bottom: 35px; }

.modul-news__body {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modul-news__item {
  /* 2 Block model */
  width: 33.33%; }

.news-item__time {
  /* 3 Typography */
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #747474; }

.news-item__text {
  /* 2 Block model */
  margin-top: 15px;
  margin-bottom: 4px;
  /* 3 Typography */
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  color: #666666; }

.news-item__link {
  /* 3 Typography */
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #666666;
  text-decoration: none; }

.news-item__link:hover {
  /* 3 Typography */
  text-decoration: underline;
  /* 4 Visual */
  opacity: 0.7; }

/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation*/
/* 6 Misc */
.footer__in {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 36px; }

.follow-us__form {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.follow-us__form label {
  /* 2 Block model */
  margin-right: 22px;
  /* 3 Typography */
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #C3C3C3; }

.form-control {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  width: 100%;
  max-width: 220px;
  /* 4 Visual */
  border-bottom: 2px solid #C4C4C4; }

.form-control::before {
  /* 1 Positioning */
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  /* 2 Block model */
  display: block;
  width: 1px;
  height: 5px;
  /* 4 Visual */
  background-color: #C4C4C4; }

.form-control::after {
  /* 1 Positioning */
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  /* 2 Block model */
  display: block;
  width: 1px;
  height: 5px;
  /* 4 Visual */
  background-color: #C4C4C4; }

.follow-us__input {
  /* 2 Block model */
  padding-left: 29px;
  padding-bottom: 4px;
  /* 4 Visual */
  border: none;
  background: none; }

.follow-us__input[placeholder] {
  /* 3 Typography */
  text-overflow: ellipsis;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #D9D9D9; }

.follow-us__input::-webkit-input-placeholder {
  /* 3 Typography */
  color: #D9D9D9; }

.follow-us__input:-moz-placeholder {
  /* 3 Typography */
  color: #D9D9D9;
  text-overflow: ellipsis; }

.follow-us__input::-moz-placeholder {
  /* 3 Typography */
  color: #D9D9D9;
  text-overflow: ellipsis; }

.follow-us__input:-ms-input-placeholder {
  /* 3 Typography */
  color: #D9D9D9;
  text-overflow: ellipsis; }

/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation*/
/* 6 Misc */
.social {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  /* 4 Visual */
  list-style: none; }

.social__item {
  /* 2 Block model */
  margin-right: 26px; }

.social__item:last-child {
  /* 2 Block model */
  margin-right: 0; }

.social__link:hover {
  /* 4 Visual */
  opacity: 0.7; }

/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation*/
/* 6 Misc */
