nav.menu
	ul.menu__list
		li.menu__item.menu__item--active
			a.menu__link(href="#") Overview 

		li.menu__item
			a.menu__link(href="#") Exchange

		li.menu__item
			a.menu__link(href="#") Deposit

		li.menu__item
			a.menu__link(href="#") Bank transfer