.news-item__time {
	/* 3 Typography */
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	color: #747474;
}
.news-item__text {
	/* 2 Block model */
	margin-top: 15px;
	margin-bottom: 4px;

	/* 3 Typography */
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;
	color: #666666;
}
.news-item__link {
	/* 3 Typography */
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #666666;
	text-decoration: none;
}
.news-item__link:hover {
	/* 3 Typography */
	text-decoration: underline;

	/* 4 Visual */
	opacity: 0.7;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */