.input--password {
	/* 1 Positioning */
	position: relative;
}
.input--password::before {
	/* 1 Positioning */
	position: absolute;
	top: 50%;
	right: 10px;
	content: "";

	/* 2 Block model */
	display: block;
	width: 32px;
	height: 20px;

	/* 4 Visual */
	background-image: url("../images/icon--eye.svg");
	background-size: cover;

	transform: translateY(-50%);
}
.input--password input {
	/* 2 Block model */
	padding-right: 50px;
	box-sizing: border-box;
}